In [26]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

from IPython.display import display

In [27]:
imdb_df = pd.read_csv("imdb_movies.csv")

In [28]:
df_max_scaled = imdb_df.copy()
  
# apply normalization techniques
for row in df_max_scaled.revenue:
    df_max_scaled.revenue = df_max_scaled.revenue / df_max_scaled.revenue.abs().max()
 
# view normalized data
# display(df_max_scaled)

In [29]:
grouped_df = imdb_df.groupby(['genre'])['score','revenue'].mean().reset_index()

/var/folders/wh/z8_k5k650_n1pyhxn124kt5c0000gn/T/ipykernel_25077/3286649269.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  grouped_df = imdb_df.groupby(['genre'])['score','revenue'].mean().reset_index()

In [30]:
print(grouped_df)

                                             genre      score       revenue
0                                           Action  59.802326  1.962566e+08
1                                Action, Adventure  62.166667  2.299563e+08
2                     Action, Adventure, Animation  62.333333  5.480156e+08
3             Action, Adventure, Animation, Comedy  69.000000  4.013459e+08
4     Action, Adventure, Animation, Comedy, Family  68.000000  3.568136e+08
...                                            ...        ...           ...
2298                               Western, Horror  68.000000  4.758460e+05
2299                      Western, Horror, Mystery  63.000000  5.486246e+08
2300                              Western, Mystery  56.000000  2.780547e+08
2301             Western, Mystery, Thriller, Drama  71.000000  1.580138e+08
2302                             Western, Thriller  57.000000  4.096363e+08

[2303 rows x 3 columns]

In [31]:
## Association Rule Mining

## data prep
genre_df = imdb_df[['genre']].copy()

# Split the 'genre' column by comma and create new columns
genres = genre_df['genre'].str.get_dummies(sep=',')

# Combine dataframes
df = pd.concat([genre_df,genres],axis=1).copy()

#Drop old column
df.drop(columns=['genre'], inplace=True)

In [32]:
print(df)

       Action  Adventure  Animation  Comedy  Crime  Documentary  Drama  \
0           0          0          0       0      0            0      1
1           0          0          0       0      0            0      0
2           0          0          1       0      0            0      0
3           0          0          1       0      0            0      0
4           1          0          0       0      0            0      0
...       ...        ...        ...     ...    ...          ...    ...
10173       0          0          0       0      0            0      1
10174       1          0          0       0      0            0      0
10175       0          0          0       0      0            0      1
10176       1          0          0       0      0            0      0
10177       0          0          1       0      0            0      0

       Family  Fantasy  History  ...   History   Horror   Music   Mystery  \
0           0        0        0  ...         0        0       0         0
1           0        0        0  ...         0        0       0         0
2           0        0        0  ...         0        0       0         0
3           0        0        0  ...         0        0       0         0
4           0        0        0  ...         0        0       0         0
...       ...      ...      ...  ...       ...      ...     ...       ...
10173       0        0        0  ...         0        0       0         0
10174       0        0        0  ...         0        0       0         0
10175       0        0        0  ...         0        0       0         0
10176       0        0        0  ...         0        1       0         0
10177       0        0        0  ...         0        0       0         0

        Romance   Science Fiction   TV Movie   Thriller   War   Western
0             0                 0          0          0     0         0
1             0                 0          0          0     0         0
2             0                 0          0          0     0         0
3             0                 0          0          0     0         0
4             0                 0          0          0     0         0
...         ...               ...        ...        ...   ...       ...
10173         0                 0          0          0     0         0
10174         0                 0          0          0     0         0
10175         1                 0          0          1     0         0
10176         0                 1          0          1     0         0
10177         0                 0          0          0     0         0

[10178 rows x 38 columns]

In [33]:
# Set association rule parameters
frequent_itemsets = apriori(df, min_support=0.01, use_colnames=True)
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)

/Users/stephenjeffirs/anaconda3/lib/python3.10/site-packages/mlxtend/frequent_patterns/fpcommon.py:110: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [34]:
# Show association rule output of movie genres
display(rules)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,"( Thriller, Adventure)",(Action),0.015327,0.153763,0.010808,0.705128,4.585811,0.008451,2.869847,0.794108
1,"(Animation, Comedy)",( Family),0.033209,0.105325,0.024956,0.751479,7.134847,0.021458,3.600001,0.889378
2,"(Animation, Comedy, Adventure)",( Family),0.013952,0.105325,0.011987,0.859155,8.157163,0.010517,6.352191,0.889823
3,"( Family, Comedy, Adventure)",(Animation),0.016408,0.087935,0.011987,0.730539,8.307738,0.010544,3.384775,0.894304